.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
  color: white;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Game {
  display: flex;
  flex-direction: column;
}
